* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1000px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #000000;
    box-sizing: border-box;
}

#main {
    background-color: #FFFFFF;
}

#navbar {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
    background-color: #333333;
}

#navbar>img {
    margin-left: 100px;
}

#burger-menu {
    display: none;
}

nav {
    grid-column: 3/6;
    grid-row: 1/2;
}

nav>ul {
    display: grid;
    grid-auto-flow: column;
    margin: 0;
}

nav ul li {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    text-align: center;
    line-height: 60px;
    background-color: #333333;
    list-style: none;
}

nav li:hover {
    background-color: #FFAA0D;
}

nav li a {
    text-decoration: none;
    color: #FFFFFF;
}

nav ul li ul {
    display: none;
    position: absolute;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    padding: 0 10px;
}

#home {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-color: #D3D3D3;
}

#home>img {
    grid-column: 1/3;
    grid-row: 1/6;
}

#home h1 {
    grid-column: 3/5;
    grid-row: 2/3;
    text-align: center;
    margin-left: 80px;
    text-transform: uppercase;
}

#home h2 {
    grid-column: 3/5;
    grid-row: 3/4;
    text-align: center;
    margin-left: 80px;
    text-transform: uppercase;
}

header>p {
    margin: 20px 50px 20px 50px;
    font-size: 20px;
    text-align: center;
    line-height: 1.8;
}

.information {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: "h3 h3 h3 h3 h3" "img p p p p";
    margin-top: 50px;
    margin-bottom: 50px;
}

.information>h3 {
    grid-area: h3;
    text-align: center;
    text-transform: uppercase;
}

.information>img {
    grid-area: img;
}

.information>p {
    grid-area: p;
    font-size: 20px;
    text-align: left;
    line-height: 1.8;
    margin-left: 50px;
}

#portfolio>h3 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 40px;
}

#portfolio-image {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    grid-template-rows: 220px;
    grid-column-gap: 20px;
    margin-left: 6%;
}

#portfolio-image > button {
    display: none;
}

#portfolio-image > img {
    border: 1px solid #333333;
    width: 100%;
    height: 80%;
    margin: 0 auto;
}

footer {
    background-color: #D3D3D3;
}

#contacts {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    margin-bottom: 30px;
}

#contacts>h3 {
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 40px;
}

#contacts>#contact-us {
    grid-column: 1/4;
    grid-row: 2/5;
}

#contacts>#my-contact {
    grid-column: 4/6;
    grid-row: 2/5;
}

#contacts form {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    margin-left: 20px;
}

#contacts form>.input {
    grid-column: 1/3;
    height: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #FFF6E6;
    border: 1px solid #333333;
}

#contacts form>textarea {
    grid-column: 3/5;
    grid-row: 1/5;
    margin-right: 20px;
    height: 115px;
    font-size: 16px;
    background-color: #FFF6E6;
    border: 1px solid #333333;
}

#contacts form>#button {
    grid-column: 2/5;
    grid-row: 5/6;
    width: 60%;
    height: 40px;
    border: 1px solid #333333;
    font-size: 16px;
    margin-top: 20px;
}

form>#button:hover {
    background-color: #FFA500;
}

#checkup {
    display: none;
    text-align: center;
    margin-top: 10px;
}

#sent {
    display: none;
    text-align: center;
    margin-top: 10px;
}

#my-contact {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: "img p";
}

#network {
    display: grid;
    grid-template-columns: 70px 1fr 60px 60px 100px;
    grid-auto-rows: minmax(30px, auto);
    grid-template-areas: "p p a a a";
    background-color: #333333;
    height: 60px;
    align-items: center;
}

#network>p {
    color: #FFFFFF;
}

#copyright {
    margin-left: 50px;
}

#btn {
    display: none;
    position: fixed;
    bottom: 30px;
    border: 5px solid #000000;
    padding: 5px;
    right: 40px;
}

#btn:hover {
    background-color: #FFA500;
}
