#portfolio-image img:nth-child(3) {
    display: none;
}

#portfolio-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10%;
}

#portfolio-image > button {
    display: none;
}
